*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'academyroughcregular';
    src: url('copyfonts.com_academyroughc-opentype-webfont.woff2') format('woff2'),
         url('copyfonts.com_academyroughc-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quarantype_hopscotchregular';
    src: url('hopscotch_by_zetafonts-webfont.woff2') format('woff2'),
         url('hopscotch_by_zetafonts-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #c8ff3d;
}

/* Navigations */

.nav-container {
    background:  transparent;
    height: 50px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: quarantype_hopscotchregular;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 50px;
    color: #000066;
    margin-left: 50px;
}

.nav-items li {
    list-style: none;
    margin-right: 50px;
}

.nav-items li a {
    color: #000066;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
}